.au-enter {
    opacity: 0;
}

.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.au-stagger {
    -webkit-animation-delay:50ms;
    animation-delay:50ms;
}

/* CSS3-Animations */
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.thumbnail .caption p {

    height: 60px;
}